<!DOCTYPE html>
<html ng-app = "ToDoApp">
  <head>
    <title> NO TITLE</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
    .headerSection {
    text-align: center;
    }
    .done-true {
    text-decoration: line-through;
    color: blue;
    }
    table{
    margin-bottom: 20px;
    }
    td{
    padding:20px;
    }
    </style>
  </head>
  <body ng-controller="ToDoController">
    <div>
      <header class="headerSection">
        <h4> TOTAL NUMBER OF TODOS : {{todos.length}}</h4>
      </header>
      <div class="container">
        <table class="table table-bordered">
          <tr>
            <td> IDENTIFICATION </td>
            <td> <b>TASKS</b></td>
            <td> <b>STATUS </b></td>
          </tr>
          <tr ng-repeat="todo in todos">
            <td class="done-{{todo.done}}">{{$index + 1}}</td>
            <td class="done-{{todo.done}}">{{todo.text}}</td>
            <td>Is Completed <input type="checkbox" ng-model="todo.done"></td>
          </tr>
        </table>
        
        <form name="frm" ng-submit="addToDo()">
          <div class="form-group">
            <label>Task number</label>
            <input type="text" ng-pattern="/[0-9]+/" size="10" class="form-control" ng-model="enterId" placeholder="Enter ID " ng-required/>
          </div>
          <div class="form-group">
            <label>TASK:</label>
            <input type="text" ng-model="enterToDo" class="form-control" size="20" placeholder="Enter TASK here" ng-required/> <br>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary button-lg" ng-disabled="frm.$invalid">ADD ITEM</button>
            <button type="button" class="btn btn-danger button-lg" ng-click="removeToDo(todo.id)">REMOVE ITEM </button>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
    
    var app = angular.module('ToDoApp', []);
app.controller('ToDoController', function($scope) {
    $scope.todos = [];
    $scope.addToDo = function() {
        $scope.todos.push({
            'id': $scope.enterId,
            'text': $scope.enterToDo,
            'done': false
        });
        $scope.enterId = '';
        $scope.enterToDo = '';
    };
    $scope.removeToDo = function() {
        $scope.todos = $scope.todos.filter(function(item) {
            return !item.done;
        })
    };
});
    
    </script>
    
  </body>
</html>